body {
    word-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
h1 {
    position: relative;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    color:#fff;
    background-color:rgb(207, 59, 0);
}
h1::before,
h1::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
}
h1::before {
    top: 0;
    border-top: 3px solid rgb(196, 129, 53);
    border-bottom: 2px solid rgb(196, 129, 53);
}
h1::after {
    bottom: 0;
    border-top: 3px solid rgb(196, 129, 53);
    border-bottom: 2px solid rgb(196, 129, 53);
}
h1 span {
    margin-left: 1em;
}
a {
    color:rgb(36, 36, 214);
}
button {
    margin:1em 0;
    text-align: center;
}
.desc {
    padding:1em;
    border-radius: 0.5em;
    background-color: #fff;
    text-align: center;
}
#results .desc, #rank_name {
    font-size: 1.5em;
}
#rank_name {
    color: brown;
    font-weight: bold;
    padding: 0 10px;
}